/* Projects Section */

/* Projects Section */
#projects {
    padding-top: 80px; 
}

#projects h1 {
    margin-bottom: -80px; 
    text-align: center; 
    color: #fff; 
    font-size: 40px;
}

/* whole Carousel container */
.carousel {
    position: relative;
    width: 90%;
    height: 460px;
    margin: 100px auto 70px auto; 
    perspective: 1000px;
    transform-style: preserve-3d;
}

/* hide radio inputs */
input[type="radio"] {
    display: none;
}

/* container for all slides */
.slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

/* individual slide */
.slide {
    position: absolute;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text to top */
    align-items: center;
    backface-visibility: hidden;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
    padding: 20px; /* Add padding */
}

/* Overlay for slide background image */
.slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

/* Background images for each slide */
#slide1 .overlay {
    background-image: url('assets/project1.png');
}
#slide2 .overlay {
    background-image: url('assets/project2.png');
}
#slide3 .overlay {
    background-image: url('assets/project3.png');
}
#slide4 .overlay {
    background-image: url('assets/project4.png');
}
#slide5 .overlay {
    background-image: url('assets/project5.png');
}

/* Slide content container */
.slide-content {
    position: relative;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Styles for slide content text */
.slide-content h3,
.slide-content p {
    color: white;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* Styles for slide title */
.slide-content h3 {
    margin-top: 60px; 
    font-size: 1.5em;
}

/* Styles for slide description */
.slide-content p {
    margin-top: 10px; 
    font-size: 1em;
}

/* Animation for Read More */
.read-more {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    opacity: 0;
    transform: translateX(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

/* Collaborators and languages info */
.collaborators,
.languages {
    position: absolute;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

/* Position of collaborators info */
.collaborators {
    top: 10px;
    left: 10px;
}

/* Position of languages info */
.languages {
    top: 10px;
    right: 10px;
}

/* Icon for collaborators info */
.collaborators i {
    margin-right: 5px;
}

/* Language logo container */
.project-languages {
    margin-top: 1rem;
}

/* Language logo styles */
.language-logo {
    width: 50px;
    height: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/* Navigation container */
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -70px;
    margin-bottom: 200px;
}

/* Navigation button styles */
.nav-btn {
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Hover effect for navigation buttons */
.nav-btn:hover {
    background: #333;
    border: 2px solid #fff;
    transform: scale(1.2);
}

/* Navigation arrow styles */
.nav-arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0 10px;
    border-radius: 50%;
    z-index: 10;
    transition: transform 0.3s;
}

/* Hover effect for navigation arrows */
.nav-arrow:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    transform: scale(1.1);
}

/* Styles for checked slides */
#s1:checked ~ .slides #slide1,
#s2:checked ~ .slides #slide2,
#s3:checked ~ .slides #slide3,
#s4:checked ~ .slides #slide4,
#s5:checked ~ .slides #slide5 {
    transform: scale(1.1);
    z-index: 5;
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Styles for side slides */

/* attribution - https://www.youtube.com/watch?app=desktop&v=HEJsHNWPF74 */

/* Styles for the slide immediately to the right of the main slide */
#s1:checked ~ .slides #slide2,
#s2:checked ~ .slides #slide3,
#s3:checked ~ .slides #slide4,
#s4:checked ~ .slides #slide5,
#s5:checked ~ .slides #slide1 {
    transform: translateX(150px) rotateY(-15deg) translateZ(-200px); /* Positions and rotates the slide to the right */
    z-index: 4; /* Sets the stacking order */
    opacity: 1; /* Ensures the slide is visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Smooth transition for transform and opacity */
}

/* Styles for the slide two positions to the right of the main slide */
#s1:checked ~ .slides #slide3,
#s2:checked ~ .slides #slide4,
#s3:checked ~ .slides #slide5,
#s4:checked ~ .slides #slide1,
#s5:checked ~ .slides #slide2 {
    transform: translateX(300px) rotateY(-30deg) translateZ(-300px); /* Positions and rotates the slide further to the right */
    z-index: 3; /* Sets the stacking order */
    opacity: 1; /* Ensures the slide is visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Smooth transition for transform and opacity */
}

/* Styles for the slide immediately to the left of the main slide */
#s1:checked ~ .slides #slide5,
#s2:checked ~ .slides #slide1,
#s3:checked ~ .slides #slide2,
#s4:checked ~ .slides #slide3,
#s5:checked ~ .slides #slide4 {
    transform: translateX(-150px) rotateY(15deg) translateZ(-200px); /* Positions and rotates the slide to the left */
    z-index: 4; /* Sets the stacking order */
    opacity: 1; /* Ensures the slide is visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Smooth transition for transform and opacity */
}

/* Styles for the slide two positions to the left of the main slide */
#s1:checked ~ .slides #slide4,
#s2:checked ~ .slides #slide5,
#s3:checked ~ .slides #slide1,
#s4:checked ~ .slides #slide2,
#s5:checked ~ .slides #slide3 {
    transform: translateX(-300px) rotateY(30deg) translateZ(-300px); /* Positions and rotates the slide further to the left */
    z-index: 3; /* Sets the stacking order */
    opacity: 1; /* Ensures the slide is visible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for transform and opacity */
}

/* Hover effect to brighten the image for the project slides */
input[type="radio"]:checked ~ .slides .slide:hover .overlay {
    opacity: 0.7;
}


