/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* general styles for the body */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #f0f0f0;
}

/* Header Section */
header {
    background: rgba(33, 33, 33, 0.8);
    color: #fff;
    padding: 2vh 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/* Navigation Section */


/* Main navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2vh;
    margin: 1vh;
}

/* Styles for the menu icon */
nav .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 2vh;
    z-index: 1001;
}

/* Navigation links and social links styles */
nav .nav-links,
nav .social-links {
    list-style: none;
    display: flex;
}

/* Navigation links container */
nav .nav-links {
    justify-content: flex-end;
    flex: 1;
}

/* Individual navigation link */
nav .nav-links li {
    margin: 0 3vh;
}

/* Navigation link styling */
nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 2vh;
}

/* Hover effect for navigation links */
nav .nav-links li a:hover {
    color: #ddd;
}

/* Social links container */
nav .social-links {
    justify-content: flex-start;
    flex: 1;
}

/* Individual social link */
nav .social-links li {
    margin-left: 2vh;
    display: flex;
    align-items: center;
}

/* Social link styling */
nav .social-links li a {
    color: #fff;
    font-size: 3vh;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Resume link specific styling */
nav .social-links li a.resume-link {
    font-size: 2vh;
}

/* Hover effect for social links */
nav .social-links li a:hover {
    color: #ddd;
}

/* Vertical bar between social links and resume link */
nav .vertical-bar {
    border-left: 0.1vh solid #fff;
    height: 2vh;
    margin: 0 1vh;
}


/* Responsive Navigation Menu */


/* Responsive styles for menu icon */
@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
    }

    /* Responsive styles for navigation links */
    nav .nav-links {
        display: none;
        flex-direction: column;
        width: 20vh;
        text-align: left;
        background-color: rgba(33, 33, 33, 0.9);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        justify-content: center;
        padding-top: 6vh;
    }

    /* Responsive styles for navigation list items */
    nav .nav-links li {
        margin: 2vh 0;
        text-align: center;
    }

    /* Styles to show navigation links when active */
    nav .nav-links.show {
        display: flex;
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}


/* Intro Section */


/* Styles for the intro */
#intro {
    background: url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

/* Styles for the intro heading 3*/
.intro-content h3 {
    font-size: 6vh;
    margin-bottom: 2vh;
}


/* Styles for the intro paragraph */
.intro-content p {
    font-size: 2.4vh;
}


/* General Section Styles */


/* Styles for sections */
.section {
    padding: 8vh 0;
    background: #1e1e1e;
    color: #f0f0f0;
}

/* Container styles */
.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

/* Styles for section headings */
h2 {
    text-align: center;
    margin-bottom: 4vh;
}

/* Footer Section */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2vh 0;
}

/* Footer content container */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer text */
.footer-content p {
    margin-right: 2px;
}

/* Social icons container in footer */
.footer-content .social-icons {
    display: flex;
    align-items: center;
}

/* Individual social icon link in the footer */
.footer-content .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

/* Hover effect for social icon links in the footer */
.footer-content .social-icons a:hover {
    color: #ddd;
}


/* Contact Section */

#contact {
    color: #f0f0f0;
    padding: 5vh 0;
    text-align: center;
    margin-top:30vh;
    margin-bottom: 30vh;
}

/* header for contacts h1 */
#contact h1 {
    margin-bottom: 4vh;
    font-size: 5vh;
    margin-top: 4.5vh;
}

/* Contact form container */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* label styles for the contact form */
#contact-form label {
    align-self: flex-start;
    margin-bottom: 1vh;
    font-size: 2vh;
}

/* the input and text area styles for contact form  */
#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 1vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #333;
    color: #fff;
    font-size: 2vh;
}

/* button styles */
#contact-form button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #f0f0f0;
    color: #333;
    font-size: 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Disable resizing for the textarea */
#contact-form textarea {
    resize: none;
}

/* button hover style */
#contact-form button:hover {
    background-color: #ddd;
}

/* mouse goes to wheel when submitting form */
.loading {
    cursor: wait;
}


/* appear effect animation fo each section css */


/* attribution: https://www.youtube.com/watch?v=T33NN_pPeNI */
/* hidden state */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-30%);
    transition: all 1s;

}


/* appearing state */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}




